In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.neural_network import MLPRegressor

from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from sklearn.preprocessing import PolynomialFeatures 

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from scipy.sparse import csr_matrix, hstack

import tensorflow as tf
import keras
import time
from keras.models import Sequential

from sklearn.model_selection import GridSearchCV

Using TensorFlow backend.

In [2]:
df_96 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv")
df_97 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv")
df_98 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv")
df_99 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv")
df_00 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv")
df_01 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv")
df_02 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv")
df_03 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv")
df_04 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv")
df_05 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv")
df_06 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv")
df_07 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv")
df_08 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv")
df_09 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv")
df_10 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv")
df_11 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv")
df_12 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv")
df_13 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")
df_14 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv")
df_15 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv")
df_16 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv")
df_17 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv")

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1806,1814) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,6,442,451,598,607,611,620,624,633,789,802,806,815,971,984,997,1153,1166,1407,1408,1411,1424,1425,1426,1431,1432,1433,1437,1438,1439,1440,1445,1446,1447,1451,1452,1453,1454,1459,1460,1461,1465,1466,1467,1468,1473,1474,1475,1479,1480,1481,1482,1487,1488,1489,1501,1502,1537,1538,1539,1540,1541,1542,1606,1609,1610,1611,1613,1614,1615,1616,1688,1689,1690,1691,1692,1908,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1408,1431,1432,1433,1489,1537,1538,1539,1540,1542,1606,1610,1611,1614,1615,1616,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1447,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,6,1461,1561,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1169,1170,1171,1172,1173,1174,1175,1177,1178,1179,1180,1183,1184,1185,1186,1187,1188,1196,1199,1200,1209,1212,1213,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1251,1252,1253,1255,1257,1261,1264,1265,1266,1268,1270,1274,1275,1276,1277,1278,1279,1281,1287,1288,1289,1290,1291,1292,1294,1303,1304,1316,1317,1326,1327,1328,1329,1330,1331,1335,1339,1340,1341,1342,1343,1344,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1426,1427,1475,1476,1479,1480,1483,1484,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1609,1610,1613,1614,1615,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1431,1432,1503,1504,1517,1518,1519,1529,1530,1531,1532,1534,1535,1537,1538,1539,1540,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1610,1611,1614,1615,1616,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (31,1726,1727,1728,1729,1815,1817,1823,1830,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
frames = [
    df_96, df_97, df_98, 
    df_99, df_00, df_01, 
    df_02, df_03, df_04, 
    df_05, df_06, df_07, 
    df_08, df_09, df_10,
    df_11, df_12, df_13, 
    df_14, df_15, df_16, df_17
]
data = pd.concat(frames)

In [4]:
data['MD_EARN_WNE_P10'].describe()

count                 40216
unique                  921
top       PrivacySuppressed
freq                   5373
Name: MD_EARN_WNE_P10, dtype: object

In [5]:
data['GRAD_DEBT_MDN'].describe()

count                137486
unique                21488
top       PrivacySuppressed
freq                  35382
Name: GRAD_DEBT_MDN, dtype: object

In [6]:
print(data.shape)
data = data.set_index('UNITID')
data.head()

(154282, 1977)

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100636,01230800,12308,Community College of the Air Force,Montgomery,AL,36114-3011,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100654,00100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,00105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100672,00574900,5749,ALABAMA AVIATION AND TECHNICAL COLLEGE,OZARK,AL,36360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,02503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = data.replace('PrivacySuppressed', np.nan)
data = data.replace('null', np.nan)
print(data.shape)

(154282, 1976)

In [8]:
cols_to_remove = [
    #irrelevant data
    'OPEID',
    'OPEID6',
    'INSTNM',
    'ZIP',
    'INSTURL',
    'NPCURL',
    'LATITUDE',
    'LONGITUDE',
    'ALIAS',
    'CIPTITLE1',
    'CIPTITLE2',
    'CIPTITLE3',
    'CIPTITLE4',
    'CIPTITLE5',
    'CIPTITLE6',
    
    #date fields:
    'REPAY_DT_MDN',
    'SEPAR_DT_MDN',
    'T4APPROVALDATE',
    
    #earnings data
    'COUNT_ED',
    'COUNT_NWNE_P10',
    'COUNT_WNE_P10',
    'MN_EARN_WNE_P10',
    'PCT10_EARN_WNE_P10',
    'PCT25_EARN_WNE_P10',
    'PCT75_EARN_WNE_P10',
    'PCT90_EARN_WNE_P10',
    'SD_EARN_WNE_P10',
    'COUNT_WNE_INC1_P10',
    'COUNT_WNE_INC2_P10',
    'COUNT_WNE_INC3_P10',
    'COUNT_WNE_INDEP0_INC1_P10',
    'COUNT_WNE_INDEP0_P10',
    'COUNT_WNE_INDEP1_P10',
    'COUNT_WNE_MALE0_P10',
    'COUNT_WNE_MALE1_P10',
    'GT_25K_P10',
    'GT_28K_P10',
    'MN_EARN_WNE_INC1_P10',
    'MN_EARN_WNE_INC2_P10',
    'MN_EARN_WNE_INC3_P10',
    'MN_EARN_WNE_INDEP0_INC1_P10',
    'MN_EARN_WNE_INDEP0_P10',
    'MN_EARN_WNE_INDEP1_P10',
    'MN_EARN_WNE_MALE0_P10',
    'MN_EARN_WNE_MALE1_P10',
    'COUNT_NWNE_P6',
    'COUNT_WNE_P6',
    'MN_EARN_WNE_P6',
    'MD_EARN_WNE_P6',
    'PCT10_EARN_WNE_P6',
    'PCT25_EARN_WNE_P6',
    'PCT75_EARN_WNE_P6',
    'PCT90_EARN_WNE_P6',
    'SD_EARN_WNE_P6',
    'COUNT_WNE_INC1_P6',
    'COUNT_WNE_INC2_P6',
    'COUNT_WNE_INC3_P6',
    'COUNT_WNE_INDEP0_INC1_P6',
    'COUNT_WNE_INDEP0_P6',
    'COUNT_WNE_INDEP1_P6',
    'COUNT_WNE_MALE0_P6',
    'COUNT_WNE_MALE1_P6',
    'GT_25K_P6',
    'GT_28K_P6',
    'MN_EARN_WNE_INC1_P6',
    'MN_EARN_WNE_INC2_P6',
    'MN_EARN_WNE_INC3_P6',
    'MN_EARN_WNE_INDEP0_INC1_P6',
    'MN_EARN_WNE_INDEP0_P6',
    'MN_EARN_WNE_INDEP1_P6',
    'MN_EARN_WNE_MALE0_P6',
    'MN_EARN_WNE_MALE1_P6',
    'COUNT_NWNE_P7',
    'COUNT_WNE_P7',
    'MN_EARN_WNE_P7',
    'SD_EARN_WNE_P7',
    'GT_25K_P7',
    'COUNT_NWNE_P8',
    'COUNT_WNE_P8',
    'MN_EARN_WNE_P8',
    'MD_EARN_WNE_P8',
    'PCT10_EARN_WNE_P8',
    'PCT25_EARN_WNE_P8',
    'PCT75_EARN_WNE_P8',
    'PCT90_EARN_WNE_P8',
    'SD_EARN_WNE_P8',
    'GT_25K_P8',
    'GT_28K_P8',
    'COUNT_NWNE_P9',
    'COUNT_WNE_P9',
    'MN_EARN_WNE_P9',
    'SD_EARN_WNE_P9',
    'GT_25K_P9',
    
    #aid:
    'PCTPELL',
    'PCTFLOAN',
    'DEBT_MDN',
    'WDRAW_DEBT_MDN',
    'LO_INC_DEBT_MDN',
    'MD_INC_DEBT_MDN',
    'HI_INC_DEBT_MDN',
    'DEP_DEBT_MDN',
    'IND_DEBT_MDN',
    'PELL_DEBT_MDN',
    'NOPELL_DEBT_MDN',
    'FEMALE_DEBT_MDN',
    'MALE_DEBT_MDN',
    'FIRSTGEN_DEBT_MDN',
    'NOTFIRSTGEN_DEBT_MDN',
    'DEBT_N',
    'GRAD_DEBT_N',
    'WDRAW_DEBT_N',
    'LO_INC_DEBT_N',
    'MD_INC_DEBT_N',
    'HI_INC_DEBT_N',
    'DEP_DEBT_N',
    'IND_DEBT_N',
    'PELL_DEBT_N',
    'NOPELL_DEBT_N',
    'FEMALE_DEBT_N',
    'MALE_DEBT_N',
    'FIRSTGEN_DEBT_N',
    'NOTFIRSTGEN_DEBT_N',
    'GRAD_DEBT_MDN10YR',
    'CUML_DEBT_N',
    'CUML_DEBT_P90',
    'CUML_DEBT_P75',
    'CUML_DEBT_P25',
    'CUML_DEBT_P10',
    'LOAN_EVER',
    'DEBT_MDN_SUPP',
    'GRAD_DEBT_MDN_SUPP',
    'GRAD_DEBT_MDN10YR_SUPP'
]
data = data.drop(columns=cols_to_remove)

In [9]:
##Drop rows with nulls for our Y column
data = data.dropna(subset=['MD_EARN_WNE_P10','GRAD_DEBT_MDN'])
print(data.shape)

(31070, 1844)

In [10]:
print(data.shape)

data = data.dropna(axis='columns', how='all')
#data = data.dropna(axis=1, how='all')
print(data.shape)

data = data.dropna(axis='rows', how='all')
print(data.shape)

data.head()

(31070, 1844)
(31070, 1613)
(31070, 1613)

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Normal,AL,3.0,1,1,3,4,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,Birmingham,AL,3.0,1,1,3,4,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,Huntsville,AL,3.0,1,1,3,4,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,Montgomery,AL,3.0,1,1,3,4,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100751,Tuscaloosa,AL,3.0,1,1,3,4,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data['MD_EARN_WNE_P10'].describe()

count     31070
unique      832
top       38800
freq        373
Name: MD_EARN_WNE_P10, dtype: object

In [12]:
data['GRAD_DEBT_MDN'].describe()

count     31070
unique     8438
top        9500
freq       1995
Name: GRAD_DEBT_MDN, dtype: object

In [13]:
cats = [
#index:'UNITID',
    
#commented out fields were empty due to removing rows/columns with all nan
'CITY',
'STABBR',
#'ACCREDAGENCY',
'SCH_DEG',
#'HCM2',
'MAIN',
'PREDDEG',
'HIGHDEG',
'CONTROL',
'ST_FIPS',
'REGION',
#'LOCALE',
#'LOCALE2',
#'CCBASIC',
#'CCUGPROF',
#'CCSIZSET',
#'HBCU',
#'PBI',
#'ANNHI',
#'TRIBAL',
#'AANAPII',
#'HSI',
#'NANTI',
#'MENONLY',
#'WOMENONLY',
#'RELAFFIL',
'DISTANCEONLY',
#'CURROPER',
'ICLEVEL',
'OPENADMP',
#'ACCREDCODE',
#'POOLYRSRET_FT',
#'POOLYRSRET_PT',
#'POOLYRS100',
#'POOLYRSOM_FTFT',
#'POOLYRSOM_PTFT',
#'POOLYRSOM_FTNFT',
#'POOLYRSOM_PTNFT',
#'SCHTYPE',
#'OPEFLAG',
'CIPCODE1',
'CIPCODE2',
'CIPCODE3',
'CIPCODE4',
'CIPCODE5',
'CIPCODE6',
#'POOLYRSOM_ALL',
#'POOLYRSOM_FIRSTTIME',
#'POOLYRSOM_NOTFIRSTTIME',
#'POOLYRSOM_FULLTIME',
#'POOLYRSOM_PARTTIME'
]

In [14]:
#convert columns into floats where possible, one-hot-encode others
#cats = []
for i in data.columns:
    if data[i].dtype == "object":
        try:
            data[i] = data[i].astype('float64')
            if data[i].mean() == np.nan:
                print("mean = null")
                print(i)
                data = data.drop(columns=i)
            else:
                data[i] = data[i].fillna(data[i].mean())
        except:
            #cats.append(i)
            if i not in cats:
                print("not in cats")
                print(i)
            data[i] = data[i].fillna("null")
    elif data[i].dtype == "float64":
        data[i] = data[i].fillna(data[i].mean())

In [15]:
y = data['MD_EARN_WNE_P10'] / data['GRAD_DEBT_MDN']
y = y.astype("float64")
X = data.drop(columns=['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN'])

In [16]:
y.describe()

count    31070.000000
mean         2.821414
std          2.353092
min          0.486168
25%          1.687540
50%          2.357160
75%          3.329758
max        110.350000
dtype: float64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
X_train.head()

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
12268503,Bakersfield,CA,2.0,0,12,0,0,3.0,6.0,8.0,...,10726.84578,10977.084807,11633.070485,11652.804878,15.000000,9.721121,9.752101,10.21989,11.183434,12.089223
191621,Hamburg,NY,3.0,1,1,3,3,2.0,36.0,2.0,...,10726.84578,10977.084807,11633.070485,11652.804878,11.922673,9.721121,9.752101,10.21989,11.183434,12.089223
147013,Lebanon,IL,3.0,1,1,3,4,2.0,17.0,3.0,...,10726.84578,10977.084807,11633.070485,11652.804878,11.922673,9.721121,9.752101,10.21989,11.183434,12.089223
223658,Austin,TX,1.0,1,2,1,1,3.0,48.0,6.0,...,21783.00000,10977.084807,11633.070485,11652.804878,9.000000,9.000000,13.000000,10.21989,11.183434,12.089223
130907,Dover,DE,2.0,1,1,2,2,1.0,10.0,2.0,...,10726.84578,10977.084807,11633.070485,11652.804878,11.922673,9.721121,9.752101,10.21989,11.183434,12.089223

In [18]:
y_train.describe()

count    20816.000000
mean         2.809801
std          2.245388
min          0.486168
25%          1.681526
50%          2.357178
75%          3.333333
max        106.809524
dtype: float64

In [19]:
### One Hot Encoding
enc = preprocessing.OneHotEncoder(handle_unknown='ignore')
enc.fit(X_train[cats])
ohe_train = enc.transform(X_train[cats])
ohe_test = enc.transform(X_test[cats])

In [20]:
ohe_train

<20816x3459 sparse matrix of type '<class 'numpy.float64'>'
	with 374688 stored elements in Compressed Sparse Row format>

In [21]:
### Scaling
scaler = StandardScaler()
scaler.fit(X_train.drop(columns=cats))
scaled_train = csr_matrix(scaler.transform(X_train.drop(columns=cats)))
scaled_test = csr_matrix(scaler.transform(X_test.drop(columns=cats)))

In [22]:
X_mat_train = hstack((ohe_train, scaled_train))
X_mat_test = hstack((ohe_test, scaled_test))
X_mat_train

<20816x5052 sparse matrix of type '<class 'numpy.float64'>'
	with 33534576 stored elements in COOrdinate format>

In [23]:
#### Neural Network
mlp = MLPRegressor()
mlp.fit(X_mat_train, y_train)

mlp_train_pred = mlp.predict(X_mat_train)
mlp_pred = mlp.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, mlp_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, mlp_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, mlp_train_pred)))
print("Train r2: " + str(r2_score(y_train, mlp_train_pred)))
print()
print("Test MSE: " + str(mean_squared_error(y_test, mlp_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, mlp_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, mlp_pred)))
print("Test r2: " + str(r2_score(y_test, mlp_pred)))

Train MSE: 0.07245193014478958
Train RMSE: 0.269168962075477
Train MAE: 0.16458414775278266
Train r2: 0.9856289704637929

Test MSE: 5.692886326063099
Test RMSE: 2.385977017086103
Test MAE: 0.5418752899492093
Test r2: 0.12973918044848354

In [24]:
### Ensemble Boosting
boost = GradientBoostingRegressor()
boost.fit(X_mat_train, y_train)

boost_train_pred = boost.predict(X_mat_train)
boost_pred = boost.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, boost_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, boost_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, boost_train_pred)))
print("Train r2: " + str(r2_score(y_train, boost_train_pred)))
print()
print("Test MSE: " + str(mean_squared_error(y_test, boost_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, boost_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, boost_pred)))
print("Test r2: " + str(r2_score(y_test, boost_pred)))

Train MSE: 0.7926107489290184
Train RMSE: 0.8902868913608795
Train MAE: 0.578271341992596
Train r2: 0.8427835882244841

Test MSE: 2.766331322249186
Test RMSE: 1.6632291851242829
Test MAE: 0.6595089147352218
Test r2: 0.5771161365667987

In [25]:
### Ada Boosting
ada = AdaBoostRegressor()
ada.fit(X_mat_train, y_train)

ada_train_pred = ada.predict(X_mat_train)
ada_pred = ada.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, ada_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, ada_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, ada_train_pred)))
print("Train r2: " + str(r2_score(y_train, ada_train_pred)))
print()
print("Test MSE: " + str(mean_squared_error(y_test, ada_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, ada_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, ada_pred)))
print("Test r2: " + str(r2_score(y_test, ada_pred)))

Train MSE: 2.9338147749456067
Train RMSE: 1.7128382220588163
Train MAE: 1.4093974222075505
Train r2: 0.4180701783893581

Test MSE: 3.968265581082834
Test RMSE: 1.992050597018769
Test MAE: 1.4514389113704331
Test r2: 0.39337870826951327

In [26]:
### Random Forest
rf = RandomForestRegressor()
rf.fit(X_mat_train, y_train)
f
rf_train_pred = rf.predict(X_mat_train)
rf_pred = rf.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, rf_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, rf_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, rf_train_pred)))
print("Train r2: " + str(r2_score(y_train, rf_train_pred)))
print()
print("Test MSE: " + str(mean_squared_error(y_test, rf_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, rf_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, rf_pred)))
print("Test r2: " + str(r2_score(y_test, rf_pred)))

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Train MSE: 0.44502640914566405
Train RMSE: 0.667102997404197
Train MAE: 0.18747403868934392
Train r2: 0.9117278496591652

Test MSE: 2.642997690401167
Test RMSE: 1.625729894663061
Test MAE: 0.48498818858292275
Test r2: 0.5959699167729717

In [27]:
### Bagging
bag = BaggingRegressor()
bag.fit(X_mat_train, y_train)

bag_train_pred = bag.predict(X_mat_train)
bag_pred = bag.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, bag_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, bag_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, bag_train_pred)))
print("Train r2: " + str(r2_score(y_train, bag_train_pred)))
print()
print("Test MSE: " + str(mean_squared_error(y_test, bag_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, bag_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, bag_pred)))
print("Test r2: " + str(r2_score(y_test, bag_pred)))

Train MSE: 0.37249587629226605
Train RMSE: 0.6103244025043288
Train MAE: 0.18786065930992038
Train r2: 0.9261144702478782

Test MSE: 3.3958300841340234
Test RMSE: 1.8427778173545566
Test MAE: 0.5030484385671693
Test r2: 0.48088584545480084

In [28]:
### Grid Search
#https://scikit-learn.org/stable/auto_examples/model_selection/plot_grid_search_digits.html
grid = GridSearchCV(RandomForestRegressor(), cv=10, n_jobs=20, scoring="r2",
            param_grid={})
grid.fit(X_mat_train, y_train)

#print("Best parameters set found on development set:")
#print()
#print(grid.best_params_)
#print()
print("Grid scores on development set:")
print()
means = grid.cv_results_['mean_test_score']
stds = grid.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, grid.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
        % (mean, std * 2, params))

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Grid scores on development set:

0.671 (+/-0.343) for {}

In [ ]:
grid_train_pred = grid.predict(X_mat_train)

print()
print("Test MSE: " + str(mean_squared_error(y_train, grid_train_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_train, grid_train_pred))))
print("Test MAE: " + str(mean_absolute_error(y_train, grid_train_pred)))
print("Test r2: " + str(r2_score(y_train, grid_train_pred)))

In [29]:
grid_pred = grid.predict(X_mat_test)

print()
print("Test MSE: " + str(mean_squared_error(y_test, grid_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, grid_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, grid_pred)))
print("Test r2: " + str(r2_score(y_test, grid_pred)))

Test MSE: 3.3958300841340234
Test RMSE: 1.8427778173545566
Test MAE: 0.5030484385671693
Test r2: 0.48088584545480084

In [30]:
print(rf.feature_importances_)

[0.00000000e+00 1.75022587e-04 0.00000000e+00 ... 1.68248452e-04
 2.86010814e-05 3.77565425e-05]