In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.neural_network import MLPRegressor

from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import PolynomialFeatures 

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from scipy.sparse import csr_matrix, hstack

In [2]:
#df_96 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv")
#df_97 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv")
#df_98 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv")
#df_99 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv")
#df_00 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv")
#df_01 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv")
#df_02 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv")
#df_03 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv")
#df_04 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv")
#df_05 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv")
#df_06 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv")
#df_07 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv")
#df_08 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv")
#df_09 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv")
#df_10 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv")
#df_11 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv")
df_12 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv")
df_13 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")
df_14 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv")
#df_15 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv")
#df_16 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv")
#df_17 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv")

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1169,1170,1171,1172,1173,1174,1175,1177,1178,1179,1180,1183,1184,1185,1186,1187,1188,1196,1199,1200,1209,1212,1213,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1251,1252,1253,1255,1257,1261,1264,1265,1266,1268,1270,1274,1275,1276,1277,1278,1279,1281,1287,1288,1289,1290,1291,1292,1294,1303,1304,1316,1317,1326,1327,1328,1329,1330,1331,1335,1339,1340,1341,1342,1343,1344,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1426,1427,1475,1476,1479,1480,1483,1484,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1609,1610,1613,1614,1615,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
frames = [
    #df_96, df_97, df_98, df_99, df_00,
    #df_01, df_02, df_03, df_04, 
    #df_05, df_06, df_07, df_08, df_09, df_10,df_11, 
    df_12, df_13, 
    df_14#, 
    #df_15, df_16, df_17
]
data = pd.concat(frames)

In [4]:
print(data.shape)
data = data.set_index('UNITID')
data.head()

(23300, 1977)

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = data.replace('PrivacySuppressed', np.nan)
print(data.shape)

(23300, 1976)

In [6]:
#irrelevant data
cols_to_remove = [
    'OPEID',
    'OPEID6',
    'INSTNM',
    'ZIP',
    'INSTURL',
    'NPCURL',
    'LATITUDE',
    'LONGITUDE',
    
    #earnings data
    'COUNT_ED',
    'COUNT_NWNE_P10',
    'COUNT_WNE_P10',
    'MD_EARN_WNE_P10',
    'PCT10_EARN_WNE_P10',
    'PCT25_EARN_WNE_P10',
    'PCT75_EARN_WNE_P10',
    'PCT90_EARN_WNE_P10',
    'SD_EARN_WNE_P10',
    'COUNT_WNE_INC1_P10',
    'COUNT_WNE_INC2_P10',
    'COUNT_WNE_INC3_P10',
    'COUNT_WNE_INDEP0_INC1_P10',
    'COUNT_WNE_INDEP0_P10',
    'COUNT_WNE_INDEP1_P10',
    'COUNT_WNE_MALE0_P10',
    'COUNT_WNE_MALE1_P10',
    'GT_25K_P10',
    'GT_28K_P10',
    'MN_EARN_WNE_INC1_P10',
    'MN_EARN_WNE_INC2_P10',
    'MN_EARN_WNE_INC3_P10',
    'MN_EARN_WNE_INDEP0_INC1_P10',
    'MN_EARN_WNE_INDEP0_P10',
    'MN_EARN_WNE_INDEP1_P10',
    'MN_EARN_WNE_MALE0_P10',
    'MN_EARN_WNE_MALE1_P10',
    'COUNT_NWNE_P6',
    'COUNT_WNE_P6',
    'MN_EARN_WNE_P6',
    'MD_EARN_WNE_P6',
    'PCT10_EARN_WNE_P6',
    'PCT25_EARN_WNE_P6',
    'PCT75_EARN_WNE_P6',
    'PCT90_EARN_WNE_P6',
    'SD_EARN_WNE_P6',
    'COUNT_WNE_INC1_P6',
    'COUNT_WNE_INC2_P6',
    'COUNT_WNE_INC3_P6',
    'COUNT_WNE_INDEP0_INC1_P6',
    'COUNT_WNE_INDEP0_P6',
    'COUNT_WNE_INDEP1_P6',
    'COUNT_WNE_MALE0_P6',
    'COUNT_WNE_MALE1_P6',
    'GT_25K_P6',
    'GT_28K_P6',
    'MN_EARN_WNE_INC1_P6',
    'MN_EARN_WNE_INC2_P6',
    'MN_EARN_WNE_INC3_P6',
    'MN_EARN_WNE_INDEP0_INC1_P6',
    'MN_EARN_WNE_INDEP0_P6',
    'MN_EARN_WNE_INDEP1_P6',
    'MN_EARN_WNE_MALE0_P6',
    'MN_EARN_WNE_MALE1_P6',
    'COUNT_NWNE_P7',
    'COUNT_WNE_P7',
    'MN_EARN_WNE_P7',
    'SD_EARN_WNE_P7',
    'GT_25K_P7',
    'COUNT_NWNE_P8',
    'COUNT_WNE_P8',
    'MN_EARN_WNE_P8',
    'MD_EARN_WNE_P8',
    'PCT10_EARN_WNE_P8',
    'PCT25_EARN_WNE_P8',
    'PCT75_EARN_WNE_P8',
    'PCT90_EARN_WNE_P8',
    'SD_EARN_WNE_P8',
    'GT_25K_P8',
    'GT_28K_P8',
    'COUNT_NWNE_P9',
    'COUNT_WNE_P9',
    'MN_EARN_WNE_P9',
    'SD_EARN_WNE_P9',
    'GT_25K_P9'
]
data = data.drop(columns=cols_to_remove)

In [7]:
##Drop columns with earning nulls first
#data_removed_nulls = data.copy()
print(data.shape)

data = data.dropna(axis='columns', how='all')
print(data.shape)

data = data.dropna(axis='rows', how='all')
print(data.shape)
##Drop rows with nulls for our Y column
#data_removed_nulls = data_removed_nulls.dropna(subset=['MD_EARN_WNE_P10'])
#print(data_removed_nulls.shape)



data.head()

(23300, 1893)
(23300, 1603)
(23300, 1603)

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Normal,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,Birmingham,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,Montgomery,AL,3.0,1,1,3,4,2,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,Huntsville,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,Montgomery,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#convert columns into floats where possible, one-hot-encode others
cats = []
for i in data.columns:
    if data[i].dtype == "object":
        try:
            data[i] = data[i].astype('float64')
            if data[i].mean() == np.nan:
                print(i)
                data = data.drop(columns=i)
            else:
                data[i] = data[i].fillna(data[i].mean())
        except:
            cats.append(i)
            data[i] = data[i].fillna("null")
    elif data[i].dtype == "float64":
        data[i] = data[i].fillna(data[i].mean())

#print("Columns before filtering: " + str(X.shape[1]))
ohe = pd.get_dummies(data[cats])
data = data.drop(columns=cats)
#print("Columns after filtering: " + str(X.shape[1]))
#print("ohe: " + str(ohe.shape[1]))
print(ohe.shape)
ohe.head()

print(data.shape)
data.head()

ohe = ohe.reset_index()
data = data.reset_index()
#data.index.value_counts()

data1 = data.join(ohe, lsuffix='_l', rsuffix='_r')
#data1 = data1.drop(columns = ['level_0', 'index_l', 'index_r'])
#data1 = pd.merge(data, ohe, left_index=True, right_index=True, how='inner');
print(data1.shape)
data1.head()

y = data1['MN_EARN_WNE_P10']
y = y.astype("float64")
X = data1.drop(columns=['MN_EARN_WNE_P10'])

In [9]:
y = data['MN_EARN_WNE_P10']
y = y.astype("float64")
X = data.drop(columns=['MN_EARN_WNE_P10'])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
X_train.head()

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
43821202,Lewisburg,PA,2.0,0,15,0,0,3,42,2,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891
376950,Dallas,TX,2.0,1,1,1,1,2,48,6,...,9197.000000,9725.000000,10641.000000,8557.000000,14.000000,15.000000,10.00000,10.00000,17.000000,14.000000
367158,Taylor,MI,1.0,0,5,1,1,3,26,3,...,8823.523538,8940.167333,9198.017423,9074.648026,8.000000,8.000000,9.23497,9.59579,10.425408,10.993891
156790,Hazard,KY,1.0,1,1,1,2,1,21,5,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891
192712,New York,NY,3.0,1,1,3,4,2,36,2,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891

In [11]:
y_train.describe()

count     15611.000000
mean      37760.505528
std       15337.118856
min       12600.000000
25%       29100.000000
50%       37664.153425
75%       41600.000000
max      250000.000000
Name: MN_EARN_WNE_P10, dtype: float64

X_train = X_train.as_matrix()
X_test = X_test.as_matrix()
y_train = y_train.as_matrix()
y_test = y_test.as_matrix()

In [12]:
### One Hot Encoding
enc = preprocessing.OneHotEncoder(handle_unknown='ignore')
enc.fit(X_train[cats])
ohe_train = enc.transform(X_train[cats])
ohe_test = enc.transform(X_test[cats])

In [13]:
ohe_train

<15611x7438 sparse matrix of type '<class 'numpy.float64'>'
	with 171721 stored elements in Compressed Sparse Row format>

In [14]:
### Scaling
scaler = StandardScaler()
scaler.fit(X_train.drop(columns=cats))
scaled_train = csr_matrix(scaler.transform(X_train.drop(columns=cats)))
scaled_test = csr_matrix(scaler.transform(X_test.drop(columns=cats)))

In [15]:
X_mat_train = hstack((ohe_train, scaled_train))
X_mat_test = hstack((ohe_test, scaled_test))
X_mat_train

<15611x9029 sparse matrix of type '<class 'numpy.float64'>'
	with 25008822 stored elements in COOrdinate format>

In [16]:
### Linear Model
lm_reg = LinearRegression()
lm_reg.fit(X_mat_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
train_pred = lm_reg.predict(X_mat_train)
print("Train error: " + str(mean_squared_error(y_train, train_pred)))

Train error: 33233287.737030607

In [18]:
lm_pred = lm_reg.predict(X_mat_test)
print("Test error: " + str(mean_squared_error(y_test, lm_pred)))

Test error: 1003057854963.7224

In [19]:
### Ridge Regression
ridge = Ridge()
ridge.fit(X_mat_train, y_train)

ridge_train_pred = ridge.predict(X_mat_train)
ridge_pred = ridge.predict(X_mat_test)

print("Train error: " + str(mean_squared_error(y_train, ridge_train_pred)))
print("Test error: " + str(mean_squared_error(y_test, ridge_pred)))

Train error: 77986192.27876277
Test error: 955776702601.8392

In [20]:
#### Neural Network
mlp = MLPRegressor(activation='logistic')
mlp.fit(X_mat_train, y_train)

mlp_train_pred = mlp.predict(X_mat_train)
mlp_pred = mlp.predict(X_mat_test)

print("Train error: " + str(mean_squared_error(y_train, mlp_train_pred)))
print("Test error: " + str(mean_squared_error(y_test, mlp_pred)))

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Train error: 1543046248.0950892
Test error: 1493195052.7905686

In [21]:
### Ensemble Boosting
boost = GradientBoostingRegressor(n_estimators=100, max_depth=4,
                                    learning_rate=0.1, loss='huber',
                                    random_state=1)
boost.fit(X_mat_train, y_train)

boost_train_pred = boost.predict(X_mat_train)
boost_pred = boost.predict(X_mat_test)

print("Train error: " + str(mean_squared_error(y_train, boost_train_pred)))
print("Test error: " + str(mean_squared_error(y_test, boost_pred)))

Train error: 73723972.324519
Test error: 60066891.51173797

In [ ]:
### Polynomial
poly = PolynomialFeatures(degree = 4)

In [ ]:
#X_poly = poly.fit_transform(X_train_scaled) 
X_poly = poly.fit_transform(X_train)

In [ ]:
poly.fit(X_poly, y_train)

In [ ]:
#poly_train_pred = poly.predict(poly.fit_transform(X_train_scaled))
poly_train_pred = poly.predict(poly.fit_transform(X_train))
poly_pred = poly.predict(poly.fit_transform(X_test))

print("Train error: " + str(mean_squared_error(y_train, poly_train_pred)))
print("Test error: " + str(mean_squared_error(y_test, poly_pred)))

In [ ]:
scores = cross_validate(ridge, X_test_scaled, y_test, cv=10, scoring='neg_mean_squared_error')   
scores

In [ ]:
sorted(sklearn.metrics.SCORERS.keys())

In [ ]:
n_bins = 5

fig, axs = plt.subplots(1, 2, sharey=True, tight_layout=True)

axs[0].hist(y_train, bins=n_bins)
axs[1].hist(y_test, bins=n_bins)

In [ ]:
###pick a y metric and remove all other earnings data from input