In [23]:
import pandas as pd
import numpy as np
import sklearn.metrics
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor

from sklearn.neural_network import MLPRegressor

from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from sklearn.preprocessing import PolynomialFeatures 

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from scipy.sparse import csr_matrix, hstack

from sklearn.model_selection import GridSearchCV

In [2]:
#df_96 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv")
#df_97 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv")
#df_98 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv")
#df_99 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv")
#df_00 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv")
#df_01 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv")
#df_02 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv")
#df_03 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv")
#df_04 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv")
#df_05 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv")
#df_06 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv")
#df_07 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv")
#df_08 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv")
#df_09 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv")
#df_10 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv")
#df_11 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv")
df_12 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv")
df_13 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")
df_14 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv")
#df_15 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv")
#df_16 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv")
#df_17 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv")

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1169,1170,1171,1172,1173,1174,1175,1177,1178,1179,1180,1183,1184,1185,1186,1187,1188,1196,1199,1200,1209,1212,1213,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1251,1252,1253,1255,1257,1261,1264,1265,1266,1268,1270,1274,1275,1276,1277,1278,1279,1281,1287,1288,1289,1290,1291,1292,1294,1303,1304,1316,1317,1326,1327,1328,1329,1330,1331,1335,1339,1340,1341,1342,1343,1344,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1426,1427,1475,1476,1479,1480,1483,1484,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1609,1610,1613,1614,1615,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
frames = [
    #df_96, df_97, df_98, df_99, df_00,
    #df_01, df_02, df_03, df_04, 
    #df_05, df_06, df_07, df_08, df_09, df_10,df_11, 
    df_12, df_13, 
    df_14#, 
    #df_15, df_16, df_17
]
data = pd.concat(frames)

In [4]:
print(data.shape)
data = data.set_index('UNITID')
data.head()

(23300, 1977)

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = data.replace('PrivacySuppressed', np.nan)
print(data.shape)

(23300, 1976)

In [6]:
cols_to_remove = [
    #irrelevant data
    'OPEID',
    'OPEID6',
    'INSTNM',
    'ZIP',
    'INSTURL',
    'NPCURL',
    'LATITUDE',
    'LONGITUDE',
    
    #earnings data
    'COUNT_ED',
    'COUNT_NWNE_P10',
    'COUNT_WNE_P10',
    'MD_EARN_WNE_P10',
    'PCT10_EARN_WNE_P10',
    'PCT25_EARN_WNE_P10',
    'PCT75_EARN_WNE_P10',
    'PCT90_EARN_WNE_P10',
    'SD_EARN_WNE_P10',
    'COUNT_WNE_INC1_P10',
    'COUNT_WNE_INC2_P10',
    'COUNT_WNE_INC3_P10',
    'COUNT_WNE_INDEP0_INC1_P10',
    'COUNT_WNE_INDEP0_P10',
    'COUNT_WNE_INDEP1_P10',
    'COUNT_WNE_MALE0_P10',
    'COUNT_WNE_MALE1_P10',
    'GT_25K_P10',
    'GT_28K_P10',
    'MN_EARN_WNE_INC1_P10',
    'MN_EARN_WNE_INC2_P10',
    'MN_EARN_WNE_INC3_P10',
    'MN_EARN_WNE_INDEP0_INC1_P10',
    'MN_EARN_WNE_INDEP0_P10',
    'MN_EARN_WNE_INDEP1_P10',
    'MN_EARN_WNE_MALE0_P10',
    'MN_EARN_WNE_MALE1_P10',
    'COUNT_NWNE_P6',
    'COUNT_WNE_P6',
    'MN_EARN_WNE_P6',
    'MD_EARN_WNE_P6',
    'PCT10_EARN_WNE_P6',
    'PCT25_EARN_WNE_P6',
    'PCT75_EARN_WNE_P6',
    'PCT90_EARN_WNE_P6',
    'SD_EARN_WNE_P6',
    'COUNT_WNE_INC1_P6',
    'COUNT_WNE_INC2_P6',
    'COUNT_WNE_INC3_P6',
    'COUNT_WNE_INDEP0_INC1_P6',
    'COUNT_WNE_INDEP0_P6',
    'COUNT_WNE_INDEP1_P6',
    'COUNT_WNE_MALE0_P6',
    'COUNT_WNE_MALE1_P6',
    'GT_25K_P6',
    'GT_28K_P6',
    'MN_EARN_WNE_INC1_P6',
    'MN_EARN_WNE_INC2_P6',
    'MN_EARN_WNE_INC3_P6',
    'MN_EARN_WNE_INDEP0_INC1_P6',
    'MN_EARN_WNE_INDEP0_P6',
    'MN_EARN_WNE_INDEP1_P6',
    'MN_EARN_WNE_MALE0_P6',
    'MN_EARN_WNE_MALE1_P6',
    'COUNT_NWNE_P7',
    'COUNT_WNE_P7',
    'MN_EARN_WNE_P7',
    'SD_EARN_WNE_P7',
    'GT_25K_P7',
    'COUNT_NWNE_P8',
    'COUNT_WNE_P8',
    'MN_EARN_WNE_P8',
    'MD_EARN_WNE_P8',
    'PCT10_EARN_WNE_P8',
    'PCT25_EARN_WNE_P8',
    'PCT75_EARN_WNE_P8',
    'PCT90_EARN_WNE_P8',
    'SD_EARN_WNE_P8',
    'GT_25K_P8',
    'GT_28K_P8',
    'COUNT_NWNE_P9',
    'COUNT_WNE_P9',
    'MN_EARN_WNE_P9',
    'SD_EARN_WNE_P9',
    'GT_25K_P9'
]
data = data.drop(columns=cols_to_remove)

In [7]:
##Drop columns with earning nulls first
print(data.shape)

data = data.dropna(axis='columns', how='all')
print(data.shape)

data = data.dropna(axis='rows', how='all')
print(data.shape)
##Drop rows with nulls for our Y column
#data_removed_nulls = data_removed_nulls.dropna(subset=['MD_EARN_WNE_P10'])
#print(data_removed_nulls.shape)



data.head()

(23300, 1893)
(23300, 1603)
(23300, 1603)

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Normal,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,Birmingham,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,Montgomery,AL,3.0,1,1,3,4,2,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,Huntsville,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,Montgomery,AL,3.0,1,1,3,4,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#convert columns into floats where possible, one-hot-encode others
cats = []
for i in data.columns:
    if data[i].dtype == "object":
        try:
            data[i] = data[i].astype('float64')
            if data[i].mean() == np.nan:
                print(i)
                data = data.drop(columns=i)
            else:
                data[i] = data[i].fillna(data[i].mean())
        except:
            cats.append(i)
            data[i] = data[i].fillna("null")
    elif data[i].dtype == "float64":
        data[i] = data[i].fillna(data[i].mean())

In [9]:
y = data['MN_EARN_WNE_P10']
y = y.astype("float64")
X = data.drop(columns=['MN_EARN_WNE_P10'])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
X_train.head()

,CITY,STABBR,SCH_DEG,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTFBSANNUAL3,CIPTFBSANNUAL4,CIPTFBSANNUAL5,CIPTFBSANNUAL6,MTHCMP1,MTHCMP2,MTHCMP3,MTHCMP4,MTHCMP5,MTHCMP6
UNITID,,,,,,,,,,,,,,,,,,,,,
232609,Lynchburg,VA,3.0,1,1,3,4,2,51,5,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891
191728,Levittown,NY,1.0,1,1,1,1,3,36,2,...,14596.000000,3010.000000,9600.000000,12155.000000,8.000000,6.000000,7.00000,3.00000,6.000000,7.000000
169576,Riverview,MI,1.0,1,1,1,1,3,26,3,...,10665.000000,11120.000000,9198.017423,9074.648026,10.000000,12.000000,12.00000,12.00000,10.425408,10.993891
198516,Elon,NC,3.0,1,1,3,4,2,37,5,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891
218821,Spartanburg,SC,2.0,1,1,2,2,2,45,5,...,8823.523538,8940.167333,9198.017423,9074.648026,12.032174,9.371749,9.23497,9.59579,10.425408,10.993891

In [11]:
y_train.describe()

count     15611.000000
mean      37740.570265
std       14983.277205
min       12200.000000
25%       29250.000000
50%       37664.153425
75%       41600.000000
max      250000.000000
Name: MN_EARN_WNE_P10, dtype: float64

X_train = X_train.as_matrix()
X_test = X_test.as_matrix()
y_train = y_train.as_matrix()
y_test = y_test.as_matrix()

In [12]:
### One Hot Encoding
enc = preprocessing.OneHotEncoder(handle_unknown='ignore')
enc.fit(X_train[cats])
ohe_train = enc.transform(X_train[cats])
ohe_test = enc.transform(X_test[cats])

In [13]:
ohe_train

<15611x7412 sparse matrix of type '<class 'numpy.float64'>'
	with 171721 stored elements in Compressed Sparse Row format>

In [14]:
### Scaling
scaler = StandardScaler()
scaler.fit(X_train.drop(columns=cats))
scaled_train = csr_matrix(scaler.transform(X_train.drop(columns=cats)))
scaled_test = csr_matrix(scaler.transform(X_test.drop(columns=cats)))

In [15]:
X_mat_train = hstack((ohe_train, scaled_train))
X_mat_test = hstack((ohe_test, scaled_test))
X_mat_train

<15611x9003 sparse matrix of type '<class 'numpy.float64'>'
	with 25008822 stored elements in COOrdinate format>

In [16]:
### Linear Model
lm_reg = LinearRegression()
lm_reg.fit(X_mat_train, y_train)

train_pred = lm_reg.predict(X_mat_train)
print("Train MSE: " + str(mean_squared_error(y_train, train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, train_pred)))
print("Train r2: " + str(r2_score(y_train, train_pred)))

lm_pred = lm_reg.predict(X_mat_test)
print("Test MSE: " + str(mean_squared_error(y_test, lm_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, lm_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, lm_pred)))
print("Test r2: " + str(r2_score(y_test, lm_pred)))

Train MSE: 32626054.253335826
Train RMSE: 5711.922115482303
Train MAE: 2784.0562197623317
Train r2: 0.8546621451655584
Test MSE: 1509417934335.567
Test RMSE: 1228583.7107562379
Test MAE: 21721.04075481143
Test r2: -6615.492582057748

In [17]:
### Ridge Regression
ridge = Ridge()
ridge.fit(X_mat_train, y_train)

ridge_train_pred = ridge.predict(X_mat_train)
ridge_pred = ridge.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, ridge_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, ridge_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, ridge_train_pred)))
print("Train r2: " + str(r2_score(y_train, ridge_train_pred)))

print("Test MSE: " + str(mean_squared_error(y_test, ridge_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, ridge_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, ridge_pred)))
print("Test r2: " + str(r2_score(y_test, ridge_pred)))

Train MSE: 72553918.26336539
Train RMSE: 8517.858783953006
Train MAE: 4369.794963484101
Train r2: 0.6767972382332199
Test MSE: 1151018133505.255
Test RMSE: 1072855.1316488425
Test MAE: 17043.3854399645
Test r2: -5044.456774371667

In [18]:
#### Neural Network
mlp = MLPRegressor()
mlp.fit(X_mat_train, y_train)

mlp_train_pred = mlp.predict(X_mat_train)
mlp_pred = mlp.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, mlp_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, mlp_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, mlp_train_pred)))
print("Train r2: " + str(r2_score(y_train, mlp_train_pred)))

print("Test MSE: " + str(mean_squared_error(y_test, mlp_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, mlp_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, mlp_pred)))
print("Test r2: " + str(r2_score(y_test, mlp_pred)))

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Train MSE: 77071298.47390372
Train RMSE: 8779.026054973509
Train MAE: 4202.535569848971
Train r2: 0.6566738624742873
Test MSE: 4647598925829.752
Test RMSE: 2155829.057655025
Test MAE: 29448.413970637986
Test r2: -20371.623855611175

In [19]:
### Ensemble Boosting
boost = GradientBoostingRegressor()
boost.fit(X_mat_train, y_train)

boost_train_pred = boost.predict(X_mat_train)
boost_pred = boost.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, boost_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, boost_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, boost_train_pred)))
print("Train r2: " + str(r2_score(y_train, boost_train_pred)))

print("Test MSE: " + str(mean_squared_error(y_test, boost_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, boost_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, boost_pred)))
print("Test r2: " + str(r2_score(y_test, boost_pred)))

Train MSE: 39986322.7047328
Train RMSE: 6323.473942757478
Train MAE: 4070.3161405746123
Train r2: 0.8218746796809058
Test MSE: 60163106.65540003
Test RMSE: 7756.488036179778
Test MAE: 4322.7025711161605
Test r2: 0.7362766535073468

In [20]:
### Ada Boosting
ada = AdaBoostRegressor()
ada.fit(X_mat_train, y_train)

ada_train_pred = ada.predict(X_mat_train)
ada_pred = ada.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, ada_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, ada_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, ada_train_pred)))
print("Train r2: " + str(r2_score(y_train, ada_train_pred)))

print("Test MSE: " + str(mean_squared_error(y_test, ada_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, ada_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, ada_pred)))
print("Test r2: " + str(r2_score(y_test, ada_pred)))

Train MSE: 157032888.62058517
Train RMSE: 12531.276416254857
Train MAE: 10341.591124376773
Train r2: 0.3004724692309937
Test MSE: 178746747.1156575
Test RMSE: 13369.620305590488
Test MAE: 10594.527231015996
Test r2: 0.21646848135648766

In [21]:
### Bagging
bag = BaggingRegressor()
bag.fit(X_mat_train, y_train)

bag_train_pred = bag.predict(X_mat_train)
bag_pred = bag.predict(X_mat_test)

print("Train MSE: " + str(mean_squared_error(y_train, bag_train_pred)))
print("Train RMSE: " + str(np.sqrt(mean_squared_error(y_train, bag_train_pred))))
print("Train MAE: " + str(mean_absolute_error(y_train, bag_train_pred)))
print("Train r2: " + str(r2_score(y_train, bag_train_pred)))

print("Test MSE: " + str(mean_squared_error(y_test, bag_pred)))
print("Test RMSE: " + str(np.sqrt(mean_squared_error(y_test, bag_pred))))
print("Test MAE: " + str(mean_absolute_error(y_test, bag_pred)))
print("Test r2: " + str(r2_score(y_test, bag_pred)))

Train MSE: 9424116.506982867
Train RMSE: 3069.872392622023
Train MAE: 1125.1668608805214
Train r2: 0.9580188009803637
Test MSE: 41941640.95493511
Test RMSE: 6476.236635186759
Test MAE: 2655.8225964507396
Test r2: 0.8161499542670971

In [25]:
### Grid Search
#https://scikit-learn.org/stable/auto_examples/model_selection/plot_grid_search_digits.html
grid = GridSearchCV(BaggingRegressor(), cv=10, n_jobs=20, scoring="r2",
            param_grid={})
grid.fit(X_mat_train, y_train)

print("Best parameters set found on development set:")
print()
print(grid.best_params_)
print()
print("Grid scores on development set:")
print()
means = grid.cv_results_['mean_test_score']
stds = grid.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, grid.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
        % (mean, std * 2, params))

Best parameters set found on development set:

{}

Grid scores on development set:

0.815 (+/-0.086) for {}